body {
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
  /* border-radius: 4rem; */
  /* width: 500px;
  height: 500px;
  border-radius: 50% 0; */
  object-fit: cover;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.content {
  width: 60vw;
  border-radius: 20rem;
  overflow: hidden;
}